<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rahul Shetty Academy DDB">
  <test name="HomePage">
    <classes>
      <class name="testcases.HomePageTest"/>
      <class name="testcases.ValidateCourseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
